:root {
    --link-color: #213fb1;
    --link-color-hover: #0a2cb1;
    --bg-color: #e8eaf6;
    --bg-white: #ffffff;
    --border-color: #e0e0e0;
    --color-grey: #7e7878;
    --color-blue: #6281f3;
    --color-red: #e65983;
    --color-text: #3b3a3a;
    --primary-color: var(--color-blue);
    --secondary-color: var(--color-grey);
    --color-placeholder: #ccc;
    --transition-speed: 0.3s;
    --font-normal: .9rem;
    --font-weight-normal: 300;
    --font-weight-thin: 200;
    --font-lg: 1rem;
}